
<br>
<div class="p-5 mb-4 bg-light border rounded-3">
	<div class="container-fluid py-5">
		<h1 class="display-5 fw-bold">PINTERESTED!</h1>
		<p class="col-md-8 fs-4">Random text goes here</p>

		<%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
		<%= link_to "Join", new_user_registration_path, class: "btn btn-outline-secondary" %>

	</div>
</div>